<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera to scan QR codes.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect to devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is needed for communication with devices.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticate to access your BitBoxApp.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aopp</string>
			</array>
		</dict>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>E1511A45-F3DB-44C0-82B8-6C880790D1F1</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
</dict>
</plist>
